body{
	background-image:url(./../resources/dark.jpg);
	
	
}
#loginTitle{
	width:100%;
	height:27%;
	text-align:center;
}
#loginForm{
	width:100%;
	height:68%;
	text-align:center;
	
	
}
p,input{
	font-size:25px;
}
a{
	text-decoration:none
}